body
	background: #E5E5E5
.nav-tabs
	.nav-item
		width: 25%
		color: #000000
a
	text-decoration: none
	&:nth-child(8n)
		.ticket
			margin-right: 0
.ticket
	width: 100px
	min-width: 100px
	height: 57px
	margin-right: 9px
	background: #FFFFFF
	border: 1px solid #E5E5E5
	box-sizing: border-box
	border-radius: 5px
	margin-top: 21px
	
	h6
		margin: 9px 0
		font-size: 14px
		line-height: 17px
		color: #000000
	p
		font-family: "Roboto"
		font-size: 12px
		line-height: 15px
		margin-bottom: 0
		color: #C4C4C4
	&-result
		.red, .green
			height: 19px
			width: 32px
			color: #ffffff
			border-radius: 5px
			line-height: 19px
			text-align: center
			font-size: 13px
			margin-top: -2px
		.red
			background: #E61002
		.green
			background: #02E619
.border-radius
	border-radius: 5px
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1)
.question
	background: #ffffff
	border: 1px solid #777777
	box-sizing: border-box
	border-radius: 5px
	height: 30px
	width: 30px
	text-align: center
	&.active
		background: #777777
		color: #ffffff
.answer
	width: 100%
	background: #FFFFFF
	border: 1px solid #000000
	box-sizing: border-box
	border-radius: 5px
	&.error
		border-color: #EE5454
		color: #EE5454
	&.right
		border-color: #85B818
		color: #85B818
	&-info
		color: #000000
.btn-next
	height: 33px
	border: 1px solid #E5E5E5
	box-sizing: border-box
	border-radius: 30px
	background: #ffffff
	padding: 0px 44px
a
	.exam
		text-align: center
		background: #FFFFFF
		border: 1px solid #E5E5E5
		box-sizing: border-box
		border-radius: 5px
		margin-right: 21px
		margin-bottom: 19px
		min-width: 200px
		width: 200px
		height: 78px
		&-result
			.red, .green
				height: 19px
				width: 32px
				color: #ffffff
				border-radius: 5px
				line-height: 19px
				text-align: center
				font-size: 13px
			.red
				background: #E61002
			.green
				background: #02E619

	&:nth-child(4n)
		.exam
			margin-right: 0
	h6
		margin: 9px 0 27px 0
		font-size: 14px
		line-height: 17px
		color: #000000
	p
		font-family: "Roboto"
		font-size: 12px
		line-height: 15px
		margin-bottom: 0
		color: #C4C4C4

.wrap
	position: relative
	.timer
		position: absolute
		top: 0
		left: 0
		background: #E5E5E5
		border-radius: 30px
		font-size: 14px
		line-height: 17px
		padding: 8px 44px
	.select
		width: 150px
		position: absolute
		top: 0
		left: 0



